.form {
    background: #ccc;
    width: 30%;
    margin: auto;
    margin-top: 32px;
    min-width: 400px;
    padding: 16px;
}

.f-item{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.input, .input-dd{
    padding: 4px 8px;
    font-size: 16px;
}
.button {
    text-align: center;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 16px;
}
.from-item{
    margin-top: 8px;
}